/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.home-image {
  background-size: cover;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
}

.header-text {
  font-size: 54px;
  display: block;
  text-align: center;
  margin-top: 370px;
  margin-left: 180px;
  width: 100%;
  color: rgba(95, 151, 50, 1);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.body-color {
  background-color: rgba(255, 253, 248, 100);
}

.hf-title {
  color: rgba(95, 151, 50, 1);
  font-size: 30px;
  margin-left: 10px;
}

.hf-logo-icon {
  margin-left: 10px;
  margin-bottom: -20px;
}

.logo-icon {
  position: absolute;
  top: 50%;
  margin-top: -23.5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hf-tab {
  color: rgba(70, 73, 72, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
  cursor: pointer;
}

.hf-tab:hover {
  background-color: rgba(238, 110, 115, 0);
}

.hf-nav {
  background-color: rgba(238, 110, 115, 0);
  box-shadow: none;
}

a:hover text {
  border-bottom: 1px solid currentColor;
}

.nav-vl {
  margin-top: 22px;
  border-left: 1px solid;
  color: rgba(70, 73, 72, 1);
  height: 25px;
}

.dropdown-trigger {
  color: rgba(70, 73, 72, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-trigger:hover {
  background-color: rgba(238, 110, 115, 0);
}

.dropdown-arrow {
  margin-left: -10px;
}

.page-footer-color {
  background-color: rgba(254, 245, 215, 100);
}

.footer-text {
  color: rgba(70, 73, 72, 100);
}

.footer-copyright-text {
  color: rgba(70, 73, 72, 100);
  background-color: rgba(252, 229, 155, 100);
  font-size: 12px;
}

.footer-copyright {
  color: rgba(70, 73, 72, 100);
  background-color: rgba(252, 229, 155, 100);
  font-size: 12px;
  padding: 8px;
}

.news-button {
  margin-top: 10px;
}

.container-picutre-bottom {
  widows: 100%;
  padding: 0px;
}

.container-impressum {
  width: 100%;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.nav-wrapper.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/*NAVBAR NEU*/

nav {
  z-index: 3;
}

header {
  z-index: 2;
}

#nav-bg {
  z-index: 1;
}

body {
  background: #eee;
}

nav {
  position: fixed;
  top: 0;
}

header {
  position: relative;
  background-color: black;
  padding: 1em;
  height: 100vh;
}
header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.giphy.com/vYTo95h4e2j6M.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  opacity: 0.4;
}

#nav-bg {
  background: #ee6e73;
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  padding-top: 30vh;
}
header p {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}

#about {
  background: #eee;
  height: 70em;
  padding: 5em 0;
}
