/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.home-image {
  background-size: cover;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
}

.header-text {
  font-size: 54px;
  display: block;
  text-align: center;
  margin-top: 370px;
  margin-left: 180px;
  width: 100%;
  color: rgba(95, 151, 50, 1);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.body-color {
  background-color: rgba(255, 253, 248, 100);
}

.hf-title {
  color: rgba(95, 151, 50, 1);
  font-size: 30px;
  margin-left: 10px;
}

.hf-logo-icon {
  margin-left: 10px;
  margin-bottom: -20px;
}

.logo-icon {
  position: absolute;
  top: 50%;
  margin-top: 8px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hf-tab {
  color: rgba(70, 73, 72, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
  cursor: pointer;
}

.hf-tab:hover {
  background-color: rgba(238, 110, 115, 0);
}

.hf-nav {
  background-color: rgba(238, 110, 115, 0);
  box-shadow: none;
}

a:hover text {
  border-bottom: 1px solid currentColor;
}

.nav-vl {
  margin-top: 22px;
  border-left: 1px solid;
  color: rgba(70, 73, 72, 1);
  height: 25px;
}

.dropdown-trigger {
  color: rgba(70, 73, 72, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-trigger:hover {
  background-color: rgba(238, 110, 115, 0);
}

.dropdown-arrow {
  margin-left: -10px;
}

/*Picture Structure*/

.container-picutre-bottom {
  widows: 100%;
  padding: 0px;
}

.section-picture-structure {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.row-picture-structure {
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: auto;
  max-height: auto;
}

.image-container {
  min-width: 421px;
  min-height: 370px;
  max-width: auto;
  max-height: auto;

  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: inherit;
}

.inner-text-image {
  text-align: center;
  position: relative;
  top: 50%;
  align-content: center;
}

.image-text-property {
  color: rgb(255, 255, 255);
  font-size: 32px;
  border-bottom: none;
}

/*Footer Structure*/

.page-footer-color {
  background-color: rgba(254, 245, 215, 100);
}

.footer-text {
  color: rgba(70, 73, 72, 100);
}

.footer-copyright-text {
  color: rgba(70, 73, 72, 100);
  background-color: rgba(252, 229, 155, 100);
  font-size: 12px;
}

.footer-copyright {
  color: rgba(70, 73, 72, 100);
  background-color: rgba(252, 229, 155, 100);
  font-size: 12px;
  padding: 12px;
}

.news-button {
  margin-top: 10px;
}

.container-impressum {
  width: 100%;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.nav-wrapper.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/*NAVBAR NEU*/

nav {
  z-index: 3;
}
header {
  z-index: 2;
}
#nav-bg {
  z-index: 1;
}

body {
  background: #eee;
}
nav {
  position: fixed;
  top: 0;
}

nav a {
  color: rgba(70, 73, 72, 1);
}

header {
  position: relative;
  background-color: black;
  padding: 1em;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header:before {
  position: relative;
  background-color: black;
  padding: 1em;
  height: 100vh;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  background-image: url('/resources/images/homeImg_freedom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  opacity: 0.4;
}
#nav-bg {
  background: rgba(255, 253, 248, 100);
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  box-shadow: none;
}

header h1 {
  color: rgba(95, 151, 50, 1);
  font-size: 48px;
  text-align: center;
  padding-top: 30vh;
}
header p {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}

#about {
  background: #eee;
  height: 70em;
  padding: 5em 0;
}
